body{
    background-color: #000;
    color: #eee;
    margin: 0;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: #eee;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    margin-right: 40px;
}

 .carousel {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    margin-top: -50px;
    position: relative;
} 

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
} 

.carousel.list.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}